@import "variables";
@import "footer";
@import "header";
@import "header-b";
@import "blog";


.b_date {
  color: #fff !important;
  h3 {
    color: #fff !important;
  }
  h5 {
    color: #fff !important;
  }
}
