@import "variables";
@import "predefin";
@import "header";
@import "slider";
@import "button";
@import "contact";
@import "feature";
@import "service";
@import "team";
@import "counter";
@import "blog";
@import "banner";
@import "portfolio";
@import "footer";

.clients {
  text-align: center;
  margin: 45px 0;
  p {
    font-size: 2vw;
    font-weight: bold;
    color: #003180;
  }
  div {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
  }
  img {
    width: calc(50px + 8vw);
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;

  p {
    margin-bottom: 40px;
  }

  .welcome__img {
    position: absolute;
    width: 20vw;
    right: 0px;
  }

  .welcome__text {
    text-align: center;
  }

  .welcome__text--title {
    font-size: 2.7vw;
    font-weight: bold;
    color: #007fc4;
  }

  .welcome__text--subtitle {
    font-size: 2vw;
    font-weight: bold;
    color: #003180;
  }

  .welcome__text--content {
    font-size: 1.5vw;
    color: #003180;
    width: 42%;
  }

  .welcome__button {
    margin-top: 2vw;
    padding: 6px 18px;
    border-radius: 7px;
    border: none;
    background-color: #007fc4;
    color: white;
    font-size: 1.5vw;
  }
}

.work {
  width: 100%;
}

.principal__button {
  margin-top: 2vw;
  padding: 6px 18px;
  border-radius: 7px;
  border: none;
  background-color: #003180;
  color: white;
  font-size: 1.5vw;
}

.job {
  display: flex;
  flex-direction: column;
  align-items: center;
  .welcome__img {
    position: absolute;
    width: 150px;

    left: 0px;
  }
  p {
    // margin-left: 150px;
    padding-top: 70px;
    margin-bottom: 40px;
    font-size: 16px;
    font-style: italic;
    color: #003180;
  }

  button {
    // margin-left: 150px;
    margin-bottom: 50px;
  }
}

.video {
  background-color: #003180;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  .video-s {
    width: calc(12vh + 60vw);
  }
}

.video__text {
  font-size: 2.8vw;
  color: white;
}

.video__content {
  width: 60vw;
  height: 30vw;
}

@media all and (orientation: portrait) {
  .clients {
    div {
      flex-direction: column;
      align-items: center;
    }
  }
  .welcome__img {
    width: 60px !important;
  }

  .principal__button{
    font-size: 20px !important;
  }

  .welcome {
    .welcome__text--title {
      font-size: 16px !important;
    }
  
    .welcome__text--subtitle {
      font-size: 15px !important;
      font-weight: bold;
      color: #003180;
    }
  
    .welcome__text--content {
      font-size: 14px !important;
    }
  
    .welcome__button {
      font-size: 15px !important;
    }
  }
}